.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.code-font {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.cart-container .items {
  padding: 20px;
}
.cart-container .items .fruit-item {
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e3e3e3;
}
.cart-container .items .fruit-item:first-child {
  margin-top: 0;
}
.cart-container .items .fruit-item:last-child {
  border-bottom: none;
}
