.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.code-font {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.manage-address-container .items {
  padding: 20px;
}
.manage-address-container .items .address-item {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #e3e3e3;
}
.manage-address-container .items .address-item:last-child {
  border-bottom: none;
}
.manage-address-container .items .address-item .item-cnt .item-title {
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}
.manage-address-container .items .address-item .item-cnt .item-desc {
  position: relative;
  margin-top: 8px;
  padding-right: 56px;
  font-size: 12px;
  font-weight: normal;
  color: #7e7e7e;
}
.manage-address-container .items .address-item .item-cnt .item-desc .set-default {
  position: absolute;
  right: 0;
  top: 0;
}
.manage-address-container .items .new-item .input-block {
  padding: 0 8px 0 34px;
  margin-top: 10px;
}
.manage-address-container .items .new-item .input-block .input-line {
  overflow: hidden;
}
.manage-address-container .items .new-item .input-block .input-line > * {
  margin-bottom: 9px;
  float: left;
}
