.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.code-font {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #fafafa;
  background-color: #333;
}
.nav-bar .nav {
  display: inline-block;
  float: left;
  width: 25%;
  line-height: 40px;
  height: 40px;
  list-style: none;
  text-align: center;
  cursor: pointer;
}
.nav-bar .nav.active {
  color: #527713;
}
