.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.code-font {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.shop-container .up-line {
  margin: 0 12px;
  padding: 12px 10px;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #e3e3e3;
}
.shop-container .side-cnt {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: #f0f0f0;
  border-right: 1px solid #e3e3e3;
}
.shop-container .side-cnt .logo {
  background: no-repeat center url('../img/logo.png');
  background-size: 100%;
}
.shop-container .side-cnt .side-items {
  font-size: 14px;
}
.shop-container .side-cnt .side-items .side-item {
  width: 100%;
  padding: 15px 0;
  line-height: 1em;
  text-align: center;
}
.shop-container .side-cnt .side-items .side-item.active {
  color: #527713;
}
.shop-container .main-cnt {
  margin-left: 30%;
}
.shop-container .main-cnt .sub-opts {
  text-align: right;
}
.shop-container .main-cnt .sub-opts .sub-opt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 5px;
}
.shop-container .main-cnt .sub-opts .sub-opt.active {
  font-weight: bold;
  color: #5d255c;
}
.shop-container .main-cnt .items {
  margin: 15px 12px;
}
.shop-container .main-cnt .items .fruit-item {
  margin-bottom: 30px;
}
