<ul class="items">
	{{each fruits as fruit i}}
	<li class="j-fruit-item fruit-item" data-id="{{fruit.id}}">
		<img class="item-pic" src="{{fruit.icon}}"></img>
		<h5 class="item-title">{{fruit.name}}</h5>
		<p class="item-info">
			{{if fruit.isNewFruit}}
			<i class="item-feature new">新</i>
			{{/if}}
			{{if fruit.oldprice}}
			<i class="item-feature discount">折</i>
			<span class="item-origin-price">原价{{fruit.oldprice}}元</span>
			{{/if}}
			<span class="item-price">{{fruit.price}}元</span>
		</p>
		{{if type === 'shop'}}
		<div class="item-ops">
			<span class="j-plus plus">+</span>
			<span class="j-num num" style="display:none;">0</span>
			<span class="j-minus minus" style="display:none;">-</span>
		</div>
		{{else if type === 'cart'}}
		<div class="item-ops">
			<span class="j-plus plus">+</span>
			<span class="j-num num" style="display:none;">0</span>
			<span class="j-minus minus" style="display:none;">-</span>
		</div>
		{{else if type === 'fav'}}
		<span class="show-detail">点击查看详情</span>
		{{/if}}
	</li>
	{{/each}}
</ul>