<div class="container-cnt order-info">
	<div class="info-block">
		<h5 class="block-title"><i class="icon icon-info"></i>订单信息</h5>
		<p class="block-item order-number">No.{{order.orderid}}</p>
		<p class="block-item order-price">总价：{{order.amount}}元</p>
		<p class="block-item order-status">状态：{{order.statusDispalyText}}</p>
	</div>
	<div class="info-block">
		<h5 class="block-title"><i class="icon icon-list"></i>订单内容</h5>
		{{each order.oldfruits as fruit i}}
		<p class="block-item order-cnt-item">{{fruit.name}} * {{fruit.fruitCount}}</p>
		{{/each}}
	</div>
	<div class="info-block">
		<h5 class="block-title"><i class="icon icon-address"></i>收货信息</h5>
		<p class="block-item order-name">{{order.consignee}}</p>
		<p class="block-item order-phone">{{order.telPhone}}</p>
		<p class="block-item order-address">{{order.cityName}}{{order.countryName}}{{order.detailAddress}}</p>
	</div>
	{{if order.refundable}}
	<div class="info-block">
		<p class="block-item refund">
			<span class="j-refund">申请退款</span>
		</p>
	</div>
	{{/if}}
</div>
{{if order.status == 1}}
<div class="bar">
	<p class="cnt">确认支付？</p>
	<i class="j-pay op icon icon-tick"></i>
</div>
{{else if (order.status == 3 || order.status == 4)}}
<div class="bar">
	<p class="cnt">订单已完成，去评价？</p>
	<i class="j-comment op icon icon-arrow"></i>
</div>
{{else}}
{{/if}}