@import "define.less";

.popup-fruit{
	width: 80%;
	height: 80%;
	margin-left: -40%;

	.close{
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		line-height: 40px;
		z-index: 12;

		text-align: center;
		color: @fontColor;
		font-family: cursive;
		font-weight: bold;

		background: no-repeat url('../img/icon/x.png') center;
		background-size: 16px 16px;
	}

	.fruit-detail-wrapper{
		height: 100%;
		overflow: auto;

		.fruit-img-swipe{
			overflow: hidden;
			visibility: hidden;
			position: relative;

			&::after{
				content: "滑动查看更多图片";
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 5px 0;
				height: 14px;
				line-height: 14px;
				z-index: 11;

				font-size: 12px;
				font-weight: normal;
				text-align: center;
				background-color: rgba(0, 0, 0, 0.5);
				color: #f0f0f0;
			}
		}
		.swipe-wrap{
			overflow: hidden;
			position: relative;
		}
		.swipe-wrap > div{
			float:left;
			width:100%;
			position: relative;
		}

		.fruit-img{
			width: 100%;
			min-height: 250px;
		}

		.fruit-info-block{
			position: relative;
			padding: 12px 16px 12px+@barHeight;

			.fav{
				position: absolute;
				right: 20px;
				top: 10px;

				text-align: right;
				font-size: 12px;
				color: @fontColor2;
			}

			.fruit-name{
				margin-bottom: 8px;

				font-size: 16px;
				font-weight: normal;
			}

			.fruit-info-item{
				position: relative;
				margin-bottom: 6px;
				min-height: 1.6em;

				font-size: 12px;
				line-height: 1.6em;

				.fruit-info-key{
					position: absolute;
					top: 0;
					left: 0;
				}

				.fruit-info-val{
					display: block;
					margin-left: 3em;

					.rating{
						margin-right: 0.3em;
						color: @themeColorGreen;
					}
				}
			}
		}
	}

	.bar{
		position: absolute;
		width: 100%;
		height: @barHeight;
		left: 0;
		bottom: 0;

		font-size: 12px;
		background-color: #fafafa;
		color: #262626;

		.cnt{
			padding: 0 16px;
			line-height: @barHeight;
		}

		.op{
			display: block;
			position: absolute;
			right: 16px;
			top: -20px;
			width: @barHeight;
			height: @barHeight;
			line-height: @barHeight;
			text-align: center;

			font-style: normal;
			border-radius: @barHeight / 2;
			background-color: @themeColorGreen;
		}

		.minus{
			display: block;
			position: absolute;
			right: 76px;
			top: -20px;
			width: @barHeight;
			height: @barHeight;
			text-align: center;

			color: #f0f0f0;
			font-size: 40px;
			line-height: 35px;
		}
	}
}
