@import "define.less";

*{
	margin: 0;
	padding: 0;

	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box;         /* Opera/IE 8+ */

    &:focus{
        outline: none;
    }
}

html, body{
    width: 100%;
    height: 100%;
}

input{
    &:focus{
        outline: none;
    }
}

ul, ol{
    list-style: none;
}

input[type="text"], input[type="password"], input[type="number"], div[contentEditable="true"], button, select{
    .border-box;
    height: 32px;
    line-height: 32px;
    padding: 0px 2px;
    margin: 0;

    &:-moz-placeholder { color:@fontColor2;  }
    &::-moz-input-placeholder { color:@fontColor2;  }
    &::-webkit-input-placeholder { color:@fontColor2; }

    &.short{
        width: 50%;
    }

    &.long{
        width: 100%;
    }

    color: #333;
    font-size: 12px;
    border-style: none;
    background: none;
    font-family: "Helvetica Neue", Helvetica, arial, "Microsoft YaHei";

    &:focus, &.active{
        outline: none;
    }
}
input[type="text"], input[type="password"], input[type="number"], div[contentEditable="true"]{
    line-height: 20px;
    padding: 6px 6px 6px 6px;
    border-bottom: 1px solid #bdbdbd;
}
button{
    color: #f0f0f0;
    background-color: @baseColor;
    cursor: pointer;
    font-weight: bold;

    &:hover{
    	background-color: darken(@baseColor, 5%);
    }

    &:active{
        color: #fff;
        background-color: darken(@baseColor, 15%);
    }

    &:disabled{
        color: #ccc;
    }
}

a{
    color: inherit;
    text-decoration: none;

    &:visited{
        color: inherit;
    }
}

.icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    background-position: center;
    background-repeat: no-repeat;

    &.icon-plus{background-image: url('../img/icon/plus.png');}
    &.icon-arrow{background-image: url('../img/icon/arrow.png');}
    &.icon-tick{background-image: url('../img/icon/tick.png');}
    &.icon-tick-green{background-image: url('../img/icon/tick-green.png');}
    &.icon-address{background-image: url('../img/icon/address.png');}
    &.icon-cart{background-image: url('../img/icon/cart.png');}
    &.icon-head{background-image: url('../img/icon/head.png');}
    &.icon-home{background-image: url('../img/icon/home.png');}
    &.icon-info{background-image: url('../img/icon/info.png');}
    &.icon-list{background-image: url('../img/icon/list.png');}
    &.icon-phone{background-image: url('../img/icon/phone.png');}
    &.icon-phone-green{background-image: url('../img/icon/phone-green.png');}
    &.icon-shop{background-image: url('../img/icon/shop.png');}
    &.icon-user{background-image: url('../img/icon/user.png');}
    &.icon-location{background-image: url('../img/icon/location.png');}
    &.icon-mail{background-image: url('../img/icon/mail.png');}
    &.icon-notice{background-image: url('../img/icon/notice.png');}
}