@import "define.less";

.shop-container{

@sideWidth: 30%;

.up-line{
	margin: 0 12px;
	padding: 12px 10px;
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid @lineColor;
}

.side-cnt{
	position: absolute;
	left: 0;
	top: 0;
	width: @sideWidth;
	height: 100%;

	background-color: #f0f0f0;
	border-right: 1px solid @lineColor;

	.logo{
		background: no-repeat center url('../img/logo.png');
		background-size: 100%;
	}

	.side-items{
		font-size: 14px;

		.side-item{
			width: 100%;
			padding: 15px 0;
			line-height: 1em;

			text-align: center;

			&.active{
				color: @themeColorGreen;
			}
		}
	}
}

.main-cnt{
	margin-left: @sideWidth;

	.sub-opts{
		text-align: right;

		.sub-opt{
			.inline-block;
			margin-left: 5px;

			&.active{
				font-weight: bold;
				color: @themeColorPurple;
			}
		}
	}

	.items{
		padding: 15px 12px;

		.fruit-item{
			margin-bottom: 30px;
		}
	}
}

}